@charset "UTF-8";
body {
  font-family: 'Futura PT Book';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: #402D3A;
  min-width: 320px;
  padding: 0 !important;
  overflow-x: hidden;
  background: #fff;
}

* {
  outline: none !important;
}

.container {
  max-width: 1770px;
  width: 100%;
  padding: 0 15px;
}

.row {
  margin: 0 -15px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1 .col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding: 0 15px;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #000;
}

p {
  margin: 10px 0;
}

img {
  width: initial;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

svg {
  width: initial;
  max-width: 100%;
  height: auto;
  max-height: 100%;
    transition: all 0.3s ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__main {}
.headermain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 14px 0;
}
.headermain__left {
  display: flex;
  align-items: center;
}
.logo {
  width: 150px;
}
.descript {
  padding-left: 34px;
  margin-left: 37px;
  position: relative;
  margin-right: 64px;
}
.descript:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #C4C4C4;
}


.descript__1 {

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  margin-bottom: 4px;

color: #402D3A;
}
.descript__2 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */


color: #7C7179;




}

a.socials__item {
  display: block;
  padding: 0 18px;
}

a.socials__item:hover svg path {
  fill: #000;
}

.socials {
  display: flex;
  align-items: center;
}

.headermain__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 -22px;
}
.headermain__right  > * {
  padding: 0 22px;
}
.phone {

}
.phone a{ 
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  text-align: right;

  color: #402D3A;
 }
.callback {}
.btn_border {
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  height: 52px;
  line-height: 50px;  
  text-align: center;
  display: block;
  min-width: 226px;
  color: #402D3A;
  background: #fff;
  border: 2px solid #402D3A;
box-sizing: border-box;
border-radius: 3px;
text-transform: uppercase;
padding: 0 30px;
}
.btn_border:hover {
  background: #402D3A;
  color: #FFFFFF;
}

.header__navcontainer { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #F7F7F7;
  border-bottom: 1px solid #F7F7F7;
  padding: 3px 0;
}
.nav > ul {
  display: flex;
  align-items: center;
  margin: 0 -36px;
}
.nav > ul > li {
 
}
.nav > ul > li > a {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #402D3A;
   padding: 0 36px;
   border-radius: 3px;
   transition: all 0.3s ease;
   height: 49px;
   white-space: nowrap;
   display: flex;
    align-items: center;
}

.nav > ul > li > a:hover {
  background: #353535;
  color: #fff;
}



.nav > ul > li.parent_catalog > a {
  padding-right: 65px;
  position: relative;
}



.nav > ul > li.parent_catalog > a:after {
  position: absolute;
  right: 30px;

 content: "";

    transform: rotate(90deg);
    top: calc(50% - 2px);

      width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #000;
  transition: all 0.3s ease;

}


.nav > ul > li.parent_catalog > a:hover:after {
 position: absolute;
  right: 30px;

 content: "";

    transform: rotate(180deg);
    top: calc(50% - 2px);

      width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.nav > ul > li.parent_menu > a:hover {
  background: none;
}

.nav > ul > li.parent_menu > a:hover > svg rect {
  fill: #000;
}
.nav > ul > li.parent_menu > a:hover > svg rect:nth-child(2) {
  width: 24px;
  max-width: 24px;
}
.nav > ul > li.parent_menu > a > svg {
  overflow: visible;
}

.shopmenu {
  margin: 0 -16px;
  display: flex;
  align-items: center;
}
.shopmenu__item {
  display: block;
  padding: 0 16px;
  position: relative;
}
path, rect {
  transition: all 0.3s ease;
}
.shopmenu__item:hover svg path{
  fill: #707070;
}

.shopmenu__count {
  background: #6FC4C0;
  border-radius: 100px;
  height: 16px;
  padding: 0 6px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  position: absolute;
  right: 12px;
  bottom: 4px;
}

.bglayer {
    width: 100%;
    height: 100%;
    background: #777;
    opacity: 0.4;
    position: fixed;
    z-index: 1;
    top: 0;
    cursor: pointer;
    display: none;
}


.subnav__content {
 
 

}

.subnav.active {
  display: block;
}

.subnav__menu {
  
}
.subnav__menu > ul {
    width: 370px;
 padding: 31px 31px 36px 69px;
 height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.subnav__menu > ul > li {
  width: 100%;
}



.subnav {
  min-height: 505px;
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(100%);
  z-index: 3;
   background: #F9F9F9;
   display: none;
}

.header__nav {
  position: relative;
}

.subnav__content {
  display: flex;
}
.subnav__menu > ul > li > a {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
.subnav__menu > ul > li > a:hover {
  color: #5C5C5C;
}

.subnav__img {
  width: 440px;
  height: 440px;
  margin-right: 93px;
}

.subnav__block {
  


}
.subnav__wrapper {
    background: #EFF7F6;
  padding-right: 38px;
  display: flex;
  align-items: center;
}
.productblock__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #A2A2A2;
  margin-bottom: 13px;
}
.productblock__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 27px;
  font-family: 'Playfair Display';

}
.productblock__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */

  font-family: 'Futura PT';
  color: #402D3A;
  margin-bottom: 27px;
}
.productblock__price {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 160%;
  margin-bottom: 29px;
}
.productblock__button {
  margin-bottom: 29px;
}
.btn_main {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
       background-color: #000;
    color: #fff;
    padding: 0 36px;
    border-radius: 3px;
    transition: all 0.3s ease;
    height: 49px;
    line-height: 49px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    display: inline-block;
    margin: 10px 10px 10px 0;
    position: relative;
}
.btn_main_arrow {
  padding-right: 60px;
}

.btn_main_arrow:after {
   content: "";
    position: absolute;
    right: 30px;

    transform: rotate(90deg);
    top: calc(50% - 2px);

      width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;

}

.btn_main:hover {
  color: #fff;
  background-color: #353535;
}
.btn_main:focus {
  color: #fff;
  background-color: #353535;
}


.subnav__block {
  padding-left: 104px;
  border-left: 1px solid #EAEAEA;
      padding: 31px 91px 36px 104px;
}

@keyframes menuOpen {
  from {
    left: -453px;
  }
  to {
    left: 0;
  }
}

@keyframes menuClose {
  from {
    left: 0;
  }
  to {
    left: -453px;
  }
}
.hidden {
  display: none !important;
}

.navpanel {
    position: fixed;
    top: 0;
    min-height: 100vh;
    height: initial;
    background: #fff;
    z-index: 100;
    max-width: 100%;
    width: 453px;
    left: -453px;
    transition: none !important;
    animation-name: menuClose;
    display: block;
}

.navpanel.active {
  left: 0;
  animation-name: menuOpen;
   animation-duration: 0.5s;
}


.navpanel__content {
  padding: 114px 30px 30px 96px;
}
.navpanel__close {
  cursor: pointer;
}
.navpanel__menu > ul  {
  margin: 60px 0;
}
.navpanel__menu > ul > li {
  margin-bottom: 47px;
}
.navpanel__menu > ul > li {
  margin-bottom: 27px;
}

.navpanel__menu > ul > li > a {
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  font-family: 'Futura PT';
  text-transform: uppercase;

  color: #402D3A;
}
.navpanel__info {
}
.navpanel__info1 {
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
margin-bottom: 36px;
color: #000000;

}
.navpanel__info1 span {
  display: block;
  color: #7C7179;
}
.navpanel__info2 .phone a {
   font-family: 'Futura PT';
}
.navpanel__info2 {
  margin-bottom: 28px;
}
.email a {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  text-decoration: underline;

  color: #402D3A;
}
.navpanel__info3 {
  margin-bottom: 59px;
}
.navpanel__info3 {}
.navpanel__button {
    margin-bottom: 100px;

}

.navpanel__button .btn_border {
  max-width: 226px;
}
.btn_border {}
.navpanel__socials {}
.catcard {
  position: relative;
  overflow: hidden;
  padding-top: 30px;
}
.catcard__content {
  height: 693px;
  background: #E1EDEC;
  border-radius: 3px;
  padding: 0 100px;
    

}

.catcard__image img {
  position: absolute;
      top: 25px;
      right: -69px;
  max-width: initial;
  max-height: initial;
  transition: all 0.3s ease;
}

.catcard__name {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 67px;
  position: absolute;
  bottom: 193px;
  left: 18%;
  font-family: 'Playfair Display';
}
.catcard__link {
  position: absolute;
  bottom: 89px;
  left: 18%;
}

.categories {
  padding: 13px 0;
}

.catcard_large .catcard__image img{
  top: 30px;
    right: -91px;
}


.catcard:hover .catcard__image img {
 top: 0;
}
.catcard_large:hover .catcard__image img {
 top: -19px;
}

.btn_border_arrow {
  padding-right: 60px;
  position: relative;
}

.btn_border_arrow:after {
  content: "";
    position: absolute;
    right: 30px;

    transform: rotate(90deg);
    top: calc(50% - 2px);

      width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
}
.btn_border_arrow:hover:after {
border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid #fff;
}
.pageblock {
  padding: 70px 0;
}
.pageblock h2 {
  font-family: 'Playfair Display';
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */


color: #000000;
}

.subtitle {
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */


color: #402D3A;
}

.blocktitle {
  padding: 0 30px;
}

.blocktitle_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productslider {
  padding: 50px 0;
  position: relative;
    width: 100%;
}
.productslider__container {
  position: relative;
  width: 100%;
}
.productslider__slider {
  position: relative;
    width: 100%;
   
}
.productslider__slide {
  padding: 0 6px;
}

.productslider__slide .productcard {
   padding-bottom: 75px;
}


.productcard {
  width: 433px;
  max-width: 100%;
  margin-bottom: 12px;
}
.productcard__content {}
.productcard__main {
  background: #F9F7F7;
  padding: 23px 30px;
  position: relative;
}
.productcard__main:after {
  content: "";
  background: #E2E2E2;
  height: 1px;
  width: calc(100% - 60px);
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0
}


.productcard__image {
  position: relative;
  padding-top: 97%;

}


.productcard__image img  {
     position: absolute;
    left: -99999px;
    right: -99999px;
    top: -99999px;
    bottom: -99999px;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    width: initial;
    height: initial;
}



.productcard__name {
  margin-bottom: 14px;
}

.productcard__name  a {
  font-family: 'Futura PT';
  font-style: normal;
font-weight: 450;
font-size: 14px;
line-height: 18px;
/* identical to box height */


color: #402D3A;
}
.productcard__price {
  font-family: 'Futura PT';
}
.productcard__newprice {
  font-style: normal;
font-weight: 450;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #000000;
}



.tmb-wrap-table div {
      margin: 0 8px;
    border-color: transparent;
     border-color:transparent;
     position: relative;
}
.tmb-wrap-table div.active {
   border-color: transparent;
}
.tmb-wrap-table div:after {
 content: "";
    height: 3px;
    width: calc(100% - 16px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0;
    display: block;
    position: absolute;
    bottom: 18px;
    margin: 0 8px;
}
.tmb-wrap-table div.active:after {

background: rgba(255, 255, 255, 1);
}
.tmb-wrap {
    padding-top: 0;
     padding-left: 30px;
     padding-right: 30px;
}


.productslider__arrows {}
.productslider__arrow_left {
      top: -25px;
}
.productslider__arrow_right {
      top: -25px;
}

.frame { width: 100%;  padding: 0; }
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee > div { float: left; margin: 0 5px 0 0; padding: 0; height: 100%; }

.scrollbar { 
  width: calc(100% - 260px); 
  margin: auto;
  height: 2px; 
  margin-top: 10px;
  background: #DEE4EA;}
.scrollbar .handle {
  width: 100px; /* overriden if dynamicHandle: 1 */
  height: 100%;
  cursor: pointer;


background: #000000;
}

.productslider__arrow_left span {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  
  border-bottom: 7px solid black;
  transform: rotate(-90deg);
      display: block;
          position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 3px);
}

.productslider__arrow_right span {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
      display: block;
  border-bottom: 7px solid black;
  transform: rotate(90deg);
      position: absolute;
   right: calc(50% - 8px);
    top: calc(50% - 3px);
}

.productslider__arrow_left {
  position: absolute;
  left: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.productslider__arrow_right {
  position: absolute;
  right: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.productslider__arrow_right:hover,
.productslider__arrow_left:hover {
  border-color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}
.productslider__arrows {
  position: relative;
}

.promo {
    padding: 50px 0;
}
.promo__wrapper {
  
  z-index: 1;
  position: relative;
}
.promo__wrapper:before {
  content: "";
  background: #EFF7F6;
  min-height: 519px;
  height: calc(100% - 210px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}


.promo__block {}
.promo__wrapper {
  display: flex;

}
.promo__image {
   width: 50%;
   position: relative;
}
.promo__img {
  margin-left: 80px;
  margin-top: 52px;
}
.promo__card {
  width: 50%;
  padding-top: 75px;
}

.promo__card .productblock__text {
  max-width: 650px;
}
.promo__card .productblock__text {
   font-family: 'Futura PT Book';
}
.promo__card {
  padding-bottom: 50px;
}
mark {
  font-family: 'Futura PT';
  background-color: transparent;
  padding: 0;
  position: relative;
  white-space: nowrap;
  z-index: 1;

}

mark:after {
  content: "";
  width: calc(100% + 4px);
  position: absolute;
  bottom: 3px;
  background: #D2B9CA;
  height: 6px;
  z-index: -1;
  left: -2px;
}

.productblock__links ul  {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
}

.productblock__links ul li {
  padding: 0 10px;
  margin-bottom: 13px;
}
.productblock__links a {
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  padding: 9px 23px;
  display: block;
 
  text-align: center;

  color: #6C6269;
  border: 1px solid #D8D2D6;
box-sizing: border-box;
border-radius: 3px;
}


.productblock + .productblock {
  margin-top: 145px;
}

.productcard__hidden {
  padding: 15px 30px 20px 30px;
  display: none;
  background: #F9F7F7;
  transition: all 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 9;
}

.productslider__slide .productcard__hidden {
  top: calc(100% - 75px);
}
.productcard:hover .productcard__hidden{
  display: block;
}

.productcard__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.productcard {
  position: relative;
}

.productcard:hover .productcard__main:after {
  width: 100%;
  transition: all 0.3s ease;
}

.btn_border_small {
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    height: 40px;
    line-height: 38px;
    padding:  0 22px;

    text-align: center;
    text-transform: uppercase;

    color: #586261;
    display: block;
    min-width: initial;
    background-color: #fff;
   border: 1px solid #D1D1D1;
box-sizing: border-box;
border-radius: 3px;
    text-transform: uppercase;
}




.btn_main_small {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
line-height: 18px;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    padding: 0 32px;
    border-radius: 3px;
    transition: all 0.3s ease;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    display: inline-block;
    position: relative;
    min-width: initial;
  }

  .btn_fast {
  background-image: url(/images/surface.svg);
  background-repeat: no-repeat;
  background-position: left 22px center;
  padding-left: 55px;
}

.btn_fast:hover {
   background-image: url(/images/surface.svg);
  background-repeat: no-repeat;
  background-position: left 22px center;
}

select {
  border: 1px solid #D8D2D6;
box-sizing: border-box;
border-radius: 3px;
padding: 8px 79px 11px 32px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */


color: #402D3A;
}

.select {
  position: relative;
}
.select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.select:before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 20px;
  
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: block;
    border-bottom: 4px solid black;
    transform: rotate(
    180deg
    );
}




.ui-slider {
  position: relative;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #000000;
  border: none;
  box-sizing: border-box;
  cursor: pointer
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}
.ui-slider-horizontal {
      height: 7px;
}
.ui-slider-horizontal .ui-slider-handle { 
      top: -8px;
  margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-widget-content { 

  height: 4px;

  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 222px;
}
.ui-widget-header { 
  border: none;
  background: #C4C4C4;
}
.ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.filter__header {

  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.filter__form {
  padding-top: 10px;
  padding-bottom: 10px;
}


 

.filter__item svg {
  transform: rotate(-180deg);
}


.filter__item_open svg {
  transform: none;
}


.filter__item_close .filter__form {
  display: none;
}


 
.formCost input::-webkit-input-placeholder {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #978D94;
}

.formCost input::-moz-placeholder {
  /* Firefox 19+ */
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #978D94;
}

.formCost input:-ms-input-placeholder {
  /* IE 10+ */
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #978D94;
}

.formCost input:-moz-placeholder {
  /* Firefox 18- */
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #978D94;
}

.sliderCont {
    width: 92%;
    margin: auto;
      height: 20px;

} 

.formCost {
    margin: 7px 0;
}


.formCost__inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px;

     
}

#slider {
  width: 100%;
}

.filter__price {
    width: 100%;
  max-width: 232px;
}



span.dcheckbox__text {
   font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #402D3A;
    transition: all 0.5s;
 }
 

 
 .dcheckbox input[type=checkbox]  {
   display: none;
 }
 
 span.dcheckbox__text:before {
    content: "";
    display: block;
    position: absolute;

     left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #B0D0D0;
    box-sizing: border-box;

}


.dcheckbox label {
padding-left: 0;
    cursor: pointer;
    margin-bottom: 16px;
    transition: all 0.5s;
    position: relative;
    padding-left: 67px;
    display: block;
    width: 100%;
}


.dcheckbox label:hover .dcheckbox__text:before {
    background: #B0D0D0;
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
}

.dcheckbox input[type=checkbox]:checked + .dcheckbox__text:before {
   background: #B0D0D0;
   background-image: url(/images/radio.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.dcheckbox input[type=checkbox]:checked + .dcheckbox__text {

  opacity: 1;
}


.radiotype input[type=radio]  {
   display: none;
 }
 
 .radiotype span.radiotype__text:before {
    content: "";
      
        display: block;
        position: absolute;
      border-radius: 50%;
        left: 0;
        top: 0;

        width: 20px;
    height: 20px;

  
    border: 1px solid #B0D0D0;
    box-sizing: border-box;
    border-radius: 100px;
}




.radiotype label:hover .radiotype__text:before {
  background-image: url(/images/radio.svg);
  background-repeat: no-repeat;
  background-position: center;
    background: #B0D0D0;
}
.radiotype input[type=radio]:checked + .radiotype__text:before {
  background: #B0D0D0;
   background-image: url(/images/radio.svg);
  background-repeat: no-repeat;
  background-position: center;
} 

 .radiotype span.radiotype__text {
 font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */


color: #402D3A;
  transition: all 0.5s;
  
 }

.radiotype label {
  padding-left: 0;
  cursor: pointer;
  margin-bottom: 16px;
  transition: all 0.5s;
  position: relative;
  padding-left: 67px;
  display: block;
  width: 100%;
}
 
 


.filter__item {
  margin-bottom: 20px;
  background: #EFF6F6;
  padding: 30px 46px 26px 46px;
}

.catalog__aside {
  width: 419px;
}

.productlist__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
}

.productlist__item {
  padding: 0 6px;
}

.catalog__main {
  width: calc(100% - 442px)
}

.catalog__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.productlist__item {
  width: 33.33333%;
  margin-bottom: 30px;
}

.productlist__item .productcard {
  max-width: 100%;
}


.formCost input {
  border: none;
  border-bottom: 2px solid #3D3D3D;
  padding: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  padding-left: 30px;
  text-align: center;
  color: #272727;
    color: #978D94;
 border-bottom: 2px solid  #C4C4C4;
 width: 143px;
 background: none;
}

.formCost input.notchanged {
  color: #978D94;
 border-bottom: 2px solid  #C4C4C4;
}

.formCost input:focus {
     color: #272727;
      border-bottom: 2px solid #3D3D3D;

}

.formCost__price_left {
  position: relative;
}

.formCost__price_left:before {
  content: "от";
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */


color: #978D94;
    position: absolute;
    left: 20px;
    bottom: 13px;

}

.formCost__price_right {
  position: relative;
}

.formCost__price_right:before {
  content: "до";
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */


color: #978D94;
    position: absolute;
    left: 20px;
    bottom: 13px;

}



.filter__header {
  font-style: normal;
font-weight: 450;
font-size: 20px;
line-height: 26px;
/* identical to box height */
color: #000000;
margin-bottom: 13px;
 font-weight: bold;
}
.filter__price {
  max-width: 100%;
  margin-top: 45px;
}


.filter__form {
  max-height: 305px;
  overflow-y: auto;
}

.filter__header-js {
  cursor: pointer;
}

.btn_main_reset {
  background-image: url(/images/reset.svg);
  padding-left: 80px;
  background-repeat: no-repeat;
  background-position: center left 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  font-family: 'Futura PT Book';
  min-width: initial;
  color: #FFFFFF;
  text-transform: none;
  height: 52px;
  line-height: 52px;
}

.filter__items {
  padding-bottom: 20px;
}

.showmore__link, .showtext {
  display: block;
  max-width: 557px;
  margin: auto;
  padding: 19px 0;
  border-bottom: 2px solid #EFF7F6;
  text-align: center;

  font-style: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #7D767B;
transition: all 0.3s ease;
}

.showmore__link span, .showtext span {
  position: relative;
}
.showmore__link span:after,
.showtext span:after {
  content: "";
    position: absolute;
    right: -20px;
    transform: rotate(
180deg
);
    top: calc(50% - 1px);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #000;
}

.showmore__link:hover,
.showtext:hover {
  color: #000000;
  border-color: #1C1C1C;
  max-width: 100%;
}

h3 {
  font-style: normal;
  font-size: 24px;
  line-height: 160%;
  color: #000000;
  font-family: 'Futura PT';
  margin-bottom: 20px;
}
.blocktitle_type2 {
  padding: 0;
  margin-bottom: 40px;
}
p {
  font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #402D3A;
}

.text_hidden {
  max-height: 355px;
  overflow-y: hidden;
  position: relative;
  transition: all 0.3s ease;
}

.text_hidden:after {
  content: "...";
   font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #402D3A;
    position: absolute;
    bottom: -7px;
    left: 0;
    background: #fff;
    width: 100%;
}

main {
  padding-bottom: 40px;
}


#footer {
  margin-top: 100px;
}

.socials {
  margin: 0 -18px;
}


.footer__col_1 > * {
  margin-bottom: 40px;
}

.dflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__col_1 {
  width: 412px;
}


.footer__logo .logo a img {
  width: 150px;
}

.footer__logo .descript{
  margin-right: 0;
}

.footer__contacts span {
  display: inline-block;
}

.footer__contacts .phone a {
  font-family: 'Futura PT';
}

.footer__wrapper {
  padding: 50px 20px;
  border-top: 1px solid #EDEDED;
}

.footermenu__title {
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  text-transform: uppercase;
  margin-bottom: 43px;
  color: #000000;
  font-family: 'Futura PT';
}

.footermenu__menu li a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 53px;
  color: #000000;
  white-space: nowrap;
}

.footer__cols {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.footer__col {
  padding: 0 15px;
}

.footer__col_2 {
  width: 396px;
}

.footerinfo * {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: #838383;
}

.velvet span {
  color: #BA41B5;
  font-weight: bold;
}

.footer__wrapper2 {
  padding: 32px 0;
}
.phone a {
  white-space: nowrap;
}

.socials {
    min-width: 242px;
}

.btn_border {
  white-space: nowrap;
}
.subnav__img {
  background-position: center;

}


.breadcrumbs {
  margin: 15px 0;
}

.breadcrumbs li a, .breadcrumbs li span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */


  color: #676265;

}
.breadcrumbs ul {
  line-height: 1;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  padding-right: 10px;
  margin-right: 2px;
  line-height: 1;
}
.breadcrumbs li:after {
  content: "-";
  position: absolute;
  right: -1px;
  top:1px;
  font-size: 16px;
  line-height: 1;
  color: rgba(55, 55, 55, 0.5);
}
.breadcrumbs li:last-child:after {
  display: none;
}

.page h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  /* identical to box height */


  color: #000000;

}

.page .sort select {
  border: none;
  border-bottom: 1px solid #D8D2D6;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 0;
}
.page .sort select:hover {
  border: none;
  border-bottom: 1px solid #000;
}

.page .blocktitle {
  padding-left: 0;
}

.leftmenu {
      margin-bottom: 20px;
    background: #EFF6F6;
    padding: 64px 46px 26px 46px;
}
.leftmenu__header span {
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 104.7%;
  /* identical to box height, or 21px */
  padding-left: 39px;
  text-transform: uppercase;
 font-weight: bold;
  color: #000000;
}
.leftmenu__header {
  margin-bottom: 59px;
  cursor: pointer;
}
.leftmenu__list li {
  margin-bottom: 58px;
  padding-left: 56px;
}
.leftmenu__list li a {
  font-style: normal;
font-weight: 450;
font-size: 18px;
line-height: 104.7%;
font-family: 'Futura PT';

text-transform: uppercase;

color: #475050;
}

.filter {
  margin-bottom: 50px;
}
.leftmenu__header > * {
  display: inline-block;
  vertical-align: middle;
}

.productcard_type2 .productcard__main {
  background: #F4F9F9;
border-radius: 3px;
}

.productcard_type2 .productcard__hidden {
  background: #F4F9F9;
border-radius: 3px;
}


.productcard_type2 .productcard__main:after {
  display: none;
}

.filterbutton {
  display: none;
}

.btn_main_large {
  width: 340px;
  max-width: 100%;
  height: 57px;
  line-height: 57px;
  text-align: center;
  font-size: 18px;
  border: none;
}
.reviewadd {
  margin-bottom: 70px;
}

.reviews__item {
  padding: 38px 68px;
  background: #F5F9F9;
border-radius: 3px;
margin-bottom: 20px;
}
.reviews__name {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 160%;
  /* identical to box height, or 45px */
  margin-bottom: 20px;

  color: #000000;
}
.reviews__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */


  color: #402D3A;
  margin-bottom: 25px;
}
.reviews__date {
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 160%;
/* or 22px */


color: #625A5F;
}
.modal input {


  border: none;
    border-bottom: 2px solid #3D3D3D;
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    padding-left: 30px;
    color: #272727;
    color: #978D94;
    border-bottom: 2px solid #C4C4C4;
    width: 100%;
    background: none;
}
.modal textarea {
  resize: none;
  border: none; 
    border-bottom: 2px solid #3D3D3D;
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    padding-left: 30px;
    color: #272727;
    color: #978D94;
    border-bottom: 2px solid #C4C4C4;
    width: 100%;
    background: none;
}
.modal input:focus {
  border-bottom: 2px solid #000;
}

.modal textarea:focus {
  border-bottom: 2px solid #000;
}


.modal-dialog {
    max-width: 589px;
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}

.modal-content {
    border: none;
    border-radius: 3px;
     
}

.modal-body {
  padding: 30px 64px 54px 64px;
}

.modal button.close {
    position: absolute;
       top: 50px;
    right: 52px;
        z-index: 9;
        opacity: 1;
}
.form-group {
    margin-bottom: 20px;
}

.modal-title {
  font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 160%;
/* or 51px */
margin-bottom: 34px;

color: #000000;
}

.modal-text {
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
/* or 22px */
margin-bottom: 35px;

color: #402D3A;
}

.modal__inputs {
  margin-bottom: 40px;
}

.modal__form .btn_main_large {
  width: 100%;
  max-width: 100%;
}

.info {
  background: #DDEDED;
border-radius: 3px;
display: flex;
max-width: 869px;
padding: 15px 20px;
position: relative;
margin-bottom: 40px;
}

.info:after {
    content: "";
    position: absolute;
    left: 35px;
    border-left: 6px solid transparent;
    border-right: 14px solid transparent;
    border-top: 13px solid #DDEDED;
    top: -5px;
    border-radius: 20px;
    transform: rotate(
396deg
);
}


.info__icon {
  margin-right: 16px;
}
.info__warning {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #EBAAAA;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  text-align: center;
}
.info__text {
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  color: #402D3A;
}


.page h2 {
  font-family: 'Playfair Display';

  font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 43px;
/* identical to box height */
margin: 20px 0 40px 0;

color: #000000;
}


.colorblock {
  padding: 38px 68px 78px 68px;
  background: #F5F9F9;
border-radius: 3px;
margin-bottom: 30px;
}

h3 {
  font-style: normal;
 
  font-size: 28px;
  line-height: 160%;
  /* identical to box height, or 45px */
  margin-bottom: 21px;

  color: #000000;
}
.infoicon {
  margin: 0 -10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}
.infoicon__item {
  background: #F5F9F9;
  border: 1px solid #D2E7E7;
  box-sizing: border-box;
  border-radius: 1000px;
  margin: 0 10px;
  height: 77px;
   display: flex;
  align-items: center;
  padding: 0 18px;
   min-width: 354px;
   margin-bottom: 27px;
}
.infoicon__icon {
  margin-right: 22px;

}
.infoicon__img {
  border-radius: 50%;
  text-align: center;
 width: 46px;
  height: 46px;
  line-height: 46px;
    display: flex;
  align-items: center;
  justify-content: center;
}
.infoicon__img__black {

  background: #000000;
}
.infoicon__text {
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */


color: #402D3A;
}
.infoicon__img__green {
  background: #6FC4C0;
}

.text__title {
  margin-bottom: 15px;
  font-style: normal;
  font-size: 20px;
  line-height: 160%;
  color: #402D3A;
}



.text ul li {
  list-style: disc;
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 234%;
/* or 42px */


color: #402D3A;
}
.text ul  {
  margin-left: 30px;
}
ul.locations {
    -moz-column-count: 3; 
    -webkit-column-count: 3; 
    column-count: 3;
    margin-left: 10px;
}
ul.locations  li:after {
  content: url(/images/maps-and-flags1.svg);
  position: absolute;
  left: 0;
      top: 8px;

}
ul.locations  li {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #402D3A;
  margin-bottom: 10px;
  position: relative;
  padding-left: 31px;
}

.text ol li {
  font-style: normal;
font-weight: 450;
font-size: 20px;
line-height: 160%;
/* identical to box height, or 32px */
margin-bottom: 13px;
 font-family: 'Futura PT';
color: #402D3A;
}
.colorblock_small {
  padding-bottom: 38px;
}
.contacts {
  margin-top: 60px;
}
.contacts__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #8D8D8D;
  margin-bottom: 15px;
}
.contacts__item {
  margin-bottom: 28px;
}
.contacts__item a.contacts__phone {
  font-style: normal;
font-weight: 450;
font-size: 32px;
line-height: 41px;
/* identical to box height */

font-family: 'Futura PT';
color: #402D3A;
}
.contacts__item a.contacts__email {
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
/* identical to box height */


color: #402D3A;
}

.address__name {
  padding-left: 30px;
  background-image: url(/images/maps-and-flags1.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.address__metro {
  padding-left: 30px;
  background-image: url(/images/metro.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.address__time {
  padding-left: 30px;
  background-image: url(/images/24.svg);
  background-position: left center;
  background-repeat: no-repeat;
}
.address__time_24 {
  padding-left: 30px;
  background-image: url(/images/time.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.address__content span {
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.2;
/* identical to box height, or 26px */


color: #000000;
}
.address__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 67px;
  padding: 10px 30px;
  background: #E8F0F0;
border-radius: 3px;
margin: 0 -10px;
}
.address__item {
  margin-bottom: 10px;

}
.address__content > * {
  padding: 0 10px;
}

.address__col1 {
  width: 45%;
}
.address__col2 {
  width: 30%;
}
.address__col3 {
  width: 25%;
}

.contactsmap {
 min-height: 450px;
    height: 100%;
    margin-bottom: 20px;
}

.contactsmap  iframe {
  width: 100%;
  height: 100%;
}

.colorblock_nomargin {
  margin-bottom: 0;
}

.callback_single {
  display: inline-block;
  margin: 28px 0 40px 0;
}
.contacts__item a.contacts__phone {
  white-space: nowrap;
}
.contacts > .row > .col-md-3 {
      -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}


.productimg__prev {
  width: 136px;
  height: 136px;
}


.productimg_container {
  /*  display: flex;
  align-items: center;  */
  position: relative;
  overflow: hidden;
}
.productimg__current {  
    display: inline-block;
    animation: 0;
    top: 0;
    right: 0;
    width: calc(100% - 165px);
    height: 100%;
  position: relative;
  margin-left: 150px;
}
.productimg__previewscontainer {
  display: inline-block;
  width: 152px;
  position: absolute;
  top: 0;
  left: 0;
      height: 100%;
}

.productimg__previewleft {
  position: absolute;
  top: 5px;
  left: 38px;
  cursor: pointer;
  opacity: 0.3;
        z-index: 10;
}

.productimg__previewright {
  position: absolute;
  bottom: 5px;
  left: 38px;
  cursor: pointer;
  opacity: 0.3;
        z-index: 10;
}
.productimg__previewleft:hover {
  opacity: 1;
}
.productimg__previewright:hover {
  opacity: 1;
}

.productimg__prev {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));

  margin: 0 0 15px 0;
  display: flex;
  height: 136px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
box-sizing: border-box;
border-radius: 3px;
background: #fff;
}



.productimg__prev img {
  max-width: 136px;
  max-height: 136px;
  border-radius: 3px;
}

.productimg__image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #fff;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 5px;
}


.product__content {
  background: #fff;
}


/* .productimg__previewscontainer:before { */
  /* position: absolute; */
  /* top:0; */
  /* background: #fff; */
  /* height: 25px; */
  /* width: 100%; */
  /* content: ""; */
  /* display: block; */
      /* z-index: 9; */
/* } */

/* .productimg__previewscontainer:after { */
  /* position: absolute; */
  /* bottom:0; */
  /* background: #fff; */
  /* height: 25px; */
  /* width: 100%; */
  /* content: ""; */
  /* display: block; */
      /* z-index: 9; */
  
/* } */

.productpage__main {
  display: flex;
}
.productpage__left {
  width: 50%;
}

.productimg__images {
  height: 100%;
  background: #fff;
}
.productimg__images > div  {
  height: 100%;
}
.productimg__images > div > div {
  height: 100%;
}

.productpage__right {
  padding-left: 72px;
   width: 50%;
}
.productimg__prev {
  position: relative;
}

.productimg__prev:after {
    content: "";
    position: absolute;
    background: linear-gradient( 
0deg
 , rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.productimg__preview.slick-current .productimg__prev:after {
   
    display: none;
   
}

.productpage {
  padding: 20px 0;
}

.productpage__right h1 {
  text-transform: uppercase;
  font-style: normal;
font-size: 36px;
font-family: 'Futura PT Book';
line-height: 46px;
margin-bottom: 36px;
color: #000000;

}

.productpage__descr {
  margin-bottom: 46px;
}

.productpage__block {
  margin-bottom: 40px;
}
.productpage__block_flex {
  display: flex;
  align-items: center;
}
.productpage__price {
  font-style: normal;
font-weight: 450;
font-size: 32px;
line-height: 160%;
/* or 51px */
    font-family: 'Futura PT';

color: #000000;
}
.productpage__block_flex {
  margin: 0 -30px;
  margin-bottom: 40px;
}
.productpage__block_flex > * {
  padding: 0 30px;
}
.productpage__like {}

a.like  {
  white-space: nowrap;
  display: block;
}
.like svg {
  display: inline-block;
  vertical-align: middle;
}
.like span {
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */
margin-left: 10px;

color: #402D3A;
display: inline-block;
  vertical-align: middle;
  border-bottom: 1px dashed #000000;

}

a.like:hover svg path {
  fill: #6FC4C0;
}

.productpage__buttons {
  display: flex;
  margin: 0 -15px;
  max-width: 733px;
}

.productpage__buttons > * {
  padding: 0 15px;
  height: 100%;
}

.btn_fast_large {
   height: 57px;
    line-height: 57px;
    text-align: center;
    font-size: 18px;
    border: none;
    font-style: normal;
font-weight: normal;
font-size: 16px;
display: block;
/* identical to box height, or 26px */
padding-right: 57px;
text-align: center;
  display: block;
  max-width: initial;
  width: initial;
color: #402D3A;
 background-color: #E1EDEC;
border-radius: 3px;
  white-space: nowrap;
    background-image: url(/images/surface.svg);
    background-repeat: no-repeat;
    background-position: left 45px center;
    padding-left: 87px;
    text-transform: uppercase;
}

.btn_fast_large:hover {
    background-image: url(/images/surface.svg);
    background-repeat: no-repeat;
    background-position: left 45px center;
    background-color: #CADEDC;
}

.productpage__buttons .btn_main {
  margin: 0;
  display: block;
  max-width: initial;
  width: initial;

}


.productpage__buttons .productpage__addcart {
  width: -webkit-fill-available;
}

.productpage__buttons {
  margin-bottom: 64px;
}
.productpage__params {
  margin-bottom: 90px;
}

.productparams__title {
  font-family: 'Futura PT';
font-style: normal;
font-size: 20px;
line-height: 160%;
/* identical to box height, or 32px */
margin-bottom: 15px;

color: #000000;
}

.productparams__item {
  font-style: normal;
font-weight: 450;
font-size: 18px;
line-height: 1.2;
/* or 29px */
margin-bottom: 15px;

color: #402D3A;
}
.productparams {
  width: 440px;
  max-width: 100%;
}
.productpage__info {
  width: 265px;
}
.info_small {

padding: 25px 36px;
background: #F5F9F9;
}
.info_small .info__text {
  font-style: normal;
font-weight: normal;
font-size: 12px;
color: #402D3A;

line-height: 160%;

}

.info_small:after {
       content: "";
    position: absolute;
    left: 35px;
    border-left: 9px solid transparent;
    border-right: 26px solid transparent;
    border-bottom: 19px solid #F5F9F9;
    top: 26px;
    border-top: none;
    border-radius: 29px;
    transform: rotate( 
62deg
 );
    left: -17px;
}
.productpage__params {
  display: flex;

}

.productpage__params .info {
  margin-left: 8px;
  margin-top: 20px;
}

.productpage__accorderon {
  margin-bottom: 80px;
}
.accordeon {}

.accorderon__item {
    margin-bottom: 25px;
     padding-bottom: 25px; 
  border-bottom: 2px solid #EDEDED;
}
.accordeon__title {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-right: 48px;
  cursor: pointer;

}
.accordeon__name {
  font-style: normal;
  font-size: 20px;
  line-height: 160%;
  font-weight: bold;
 color: #000000;
}
.accordeon__status {
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */
display: none;
text-align: right;

color: #7E7E7E;
}
.accordeon__status.active {
  display: block;
}
.accordeon__status_close {}
.accordeon__content {
  display: none;
}
.accordeon__content.active {
  display: block;
}
.accordeon__content {

}
.description {}
.accordeon__status:after {
    position: absolute;
    right: 20px;
    content: "";
    transform: rotate(
180deg
);
    top: calc(50% - 4px);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #402D3A;
}

.accordeon__title.active .accordeon__status:after {
  transform: rotate(
0
);
}

.description, .description p, .description ul {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */


  color: #402D3A;
}
.description p, .description ul {
  margin-bottom: 15px;
}
.description ul {
  list-style: disc;
  margin-left: 25px;
}


@media (max-width: 1550px) {
 
  
  .promo__img {
    margin-left: 0;
    margin-right: 52px;
  }
  .subnav__menu > ul {
  width: 290px;
}

.productcard__buttons {
  flex-wrap: wrap;
}
.productcard__buttons > * {
  width: 100%;
  text-align: center;
  margin: 5px 0;
}
.btn_fast {
  padding-left: 30px;
  background-position: left 5px center;
}
.productcard__hidden {
  padding: 10px 15px;
}
.sliderCont {
    width: 87%;
   
}

.productslider__slide .productcard__buttons > * {
  width: 47%;
}
.row_contactsmain .colorblock_nomargin {
  margin-bottom: 20px;
}
.contactsmap {
  min-height: 220px;
}
}

@media (max-width: 1300px) {
   .row_contactsmain > .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .promo__img {
    margin-left: 0;
    margin-right: 52px;
  }
  .descript {
    padding-left: 14px;
    margin-left: 17px;
    position: relative;
    margin-right: 24px;
}
.callback .btn_border {
  padding: 0 20px;
  min-width: initial;
  font-size: 14px;
}
.descript {
      max-width: 197px;
}
.subnav__img {
  width: 320px;
  margin-right: 35px;
  height: initial;
  padding-top: 100%;
}
.subnav {
    min-height: 452px;
  }
  .productblock__title {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 17px;
    font-family: 'Playfair Display';
}
.productblock__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Futura PT';
    color: #402D3A;
    margin-bottom: 17px;
}
.productblock__button {
    margin-bottom: 7px;
}
.subnav__block {
    padding-left: 104px;
    border-left: 1px solid #EAEAEA;
    padding: 31px 31px 36px 34px;
}
.catcard__content {
    height: 493px;
    padding: 0 30px;
  }
  .catcard__name {
    left: 30px;
    bottom: 100px;
        font-size: 30px;
    line-height: 37px;
  }
  .catcard__link {
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.catcard__image img {
    position: absolute;
    top: 25px;
    right: -287px;
    }
    .catcard_large .catcard__image img {
    top: 10px;
    right: -286px;
}
.productblock + .productblock {
    margin-top: 15px;
}
.promo__wrapper:before {
    content: "";
    background: #EFF7F6;
    min-height: 400px;
    height: calc(100% - 275px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.catalog__aside {
    width: 339px;
}
.filter__item {
    margin-bottom: 20px;
    background: #EFF6F6;
    padding: 26px;
}
.formCost input {
  width: 120px;
}

.catalog__main {
    width: calc(100% - 356px);
}
ul.locations  li, .text__title, p, .text ol li, .info__text {
  line-height: 1.2;
}
.colorblock .col-md-5 {
      -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.colorblock {
  padding: 30px;
}
}

@media (max-width: 1023px) {
  .address__col1 {
    width: 100%;
  }
.address__col2 {
    width: 100%;
  }
.address__col3 {
    width: 100%;
  }
  .address__content {
    flex-wrap: wrap;
    padding: 10px;
  }
.address__content > * {
  margin-bottom: 10px;
}
.contacts > .row > .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.contacts {
    margin-top: 20px;
}
  .sort {
    max-width: 250px;
  }
  .blocktitle__left {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .filterbutton {
    display: block;
    cursor: pointer;
  } 
   .filterbutton img {
    width: 30px;
    height: 30px;
   }
   .catalog__wrapper {
    padding: 20px 0;
   }
  .catalog__wrapper {
    display: block;
  }



  .leftmenu {
    display: none;
  }
  .page h1 {
        font-size: 22px;
    line-height: 26px;
  }
  .headermain__left {
    flex-wrap: wrap;
  }
  .headermain {
    flex-wrap: wrap;
  }
  .descript {
    display: none;
  }
  .nav > ul {
    flex-wrap: wrap;
  }
  .nav.nav li {
    display: none;
  }
  .nav.nav li.parent.parent_menu {
    display: block;
  }
  .catalog__aside {
    width: initial;
  }
  .filter {
    display: none;
  }
  .catalog__main {
    width: 100%;
  }
  .blocktitle_flex {
    flex-wrap: wrap;
  }
  .promo__wrapper {
    flex-wrap: wrap;
  }
  .promo__wrapper  > * {
    width: 100%;
  }
  .footer__cols {
    flex-wrap: wrap;
  }
  .logo {
    width: initial;
  }
  .headermain .socials {
    display: none;
  }
  .headermain__right {
    display: none;
  }
  .shopmenu__item {
    padding: 0 8px;
  }
  .shopmenu {
    margin: 0 -8px;
  }
  .headermain {
    flex-wrap: wrap;
    position: absolute;
    width: 100px;
    left: 49px;
    top: -7px;
}
.shopmenu__count {

    right: 5px;
}
.navpanel__content {
    padding: 24px 15px 30px 15px;
}
.navpanel {
   
    height: 100%;
}
.navpanel__button {
    margin-bottom: 30px;
}
.navpanel__menu > ul {
    margin: 30px 0;
}
.navpanel__info3 {
    margin-bottom: 39px;
}
.blocktitle__left {
  margin-bottom: 10px;
  width: 100%;
}
.blocktitle {
  padding: 0;
}
.productblock {
  padding: 30px;
}
.promo__card {
    width: 100%;
    padding-top: 30px;
}
.pageblock {
    padding: 40px 0;
}
h3 {
  line-height: 1.2;
}
.text-js h3 {
  min-height: 84px;
  overflow: hidden;
}
.footer__col {
  margin-bottom: 30px;
}
.footer__col_1 {
  width: 50%;
}
.footer__col_2 {
  width: 50%;
}
.footer__col_3, .footer__col_4, .footer__col_5 {
  width: 33.33333%;
}
.categories__list .row .col-md-6:last-child {
  flex: 0 0 100%;
    max-width: 100%;
}

.categories__list .row .col-md-6:last-child .catcard_large .catcard__image img {
    right: -106px;
}
.colorblock {
  padding: 20px 15px;
}
.infoicon__item {
  min-width: initial;
}
.infoicon__text{
  line-height: 1.2;
}
.page h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 23px;
    margin: 10px 0 20px 0;
    color: #000000;
}
h3 {
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 21px;
    color: #000000;
}
ul.locations {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}
ul.locations  li, .text__title, p, .text ol li, .info__text {
  line-height: 1.2;
}
.text {
  margin-bottom: 15px;
}
}

@media (max-width: 767px) {
  .btn_main_large {
      width: 340px;
      max-width: 100%;
      height: 47px;
      line-height: 47px;
      text-align: center;
      font-size: 15px;
      border: none;
  }

  .reviews__item {
      padding: 28px 18px;
      background: #F5F9F9;
      border-radius: 3px;
      margin-bottom: 20px;
  }
  .reviews__text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.3;
      color: #402D3A;
      margin-bottom: 25px;
  }
  .reviews__name {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: 20px;
      color: #000000;
  }
  .reviewadd {
      margin-bottom: 30px;
  }
  .row.text-js .col-md-6 {
    margin-bottom: 40px;
  }
  .productlist__item {
    width: 50%;
  } 
  .catcard__content {
    height: 255px;
    padding: 0 30px;
}
.pageblock h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.3;
    color: #000000;
}
.text-js h3 {
    min-height: initial;
    overflow: hidden;
}
.modal-body {
    padding: 20px 14px 34px 14px;
}
.modal-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 14px;
    color: #000000;
}
.modal button.close {
    position: absolute;
    top: 11px;
    right: 12px;
    z-index: 9;
    opacity: 1;
}
.catcard__image img {
    position: absolute;
        top: -37px;
    right: -372px;
}
.catcard_large .catcard__image img {
    top: -56px;
    right: -396px;
}
.btn_border {
  min-width: initial;
}
.footer__cols .footer__col {
  width: 100%;
  max-width: 720px;
  margin: 0 auto 30px auto;
}
.footer__contacts .dflex {
  display: block;
}
.footermenu__title {
   
    margin-bottom: 23px;

}
.footermenu__menu li a {
  line-height: 1.2;
}
#footer {
    margin-top: 30px;
}
.footerinfo.dflex {
  display: block;
}
.footerinfo.dflex > * {
  margin-bottom: 10px;
  text-align: center;
}
.promo__wrapper:before {
  height: 100%;
}
.scrollbar {
  width: calc(100% - 105px);
}
.categories__list .row .col-md-6:last-child .catcard_large .catcard__image img {
    right: -306px;
}
}


@media (max-width: 480px) {
  .productlist__item {
    width:100%;
  }
}


